@import "../variables";

.header {
  border-bottom: 1px solid #f6f6f6;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: floralwhite;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 645px) {
      // flex-direction: column;

      .header {
        &__logo {
          > div {
            display: none;
          }
        }
        // &__cart {
        //   margin-top: 20px;
        // }
      }
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      white-space: nowrap;
      color: #7b7b7b;
    }
    img {
      margin-right: 15px;
      width: 50px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      font-weight: 800;
    }
    @media (max-width: 374px) {
      transform: scale(0.85);
    }
  }
}
