.container {
    &__search {
        min-width: 250px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        &--input {
            border: none;
            background: #fffaf0;

            &:focus {
                opacity: 1;
            }
        }
        &--closeInput {
            width: 14px;
            cursor: pointer;
        }
    }
}
